h1 {
    text-align: center;
    color: dodgerblue;
}
h2 {
    color: dodgerblue;
}
body {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgb(240, 240, 240);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 150px;
    min-height: 400px;
}
body.dark-mode {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgb(48,48,48);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 150px;
    min-height: 400px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darkkhaki;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    width: fit-content;
    margin-top: 40px;
}
.ctr {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.dark-mode {
    background-color: rgb(48, 48, 48);
    color: white;
}
.download_title {
    color: dodgerblue;
}
.flex-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.flex-container > div {
    background-color: lightgrey;
    text-align: center;
    width: 100px;
    line-height: 60px;
    margin: 10px;
    font-size: 15px;
}