<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PiThon api</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" type="image" href="../static/images/favicon.ico">
</head>

<body>
<p>{{message}}</p>
<h1>PiThon api guide</h1>
<h4>You can use this api using Basic Auth to specify and validate the user and url-parameters. These parameters are:</h4>
<ul>
    <li><b>number:</b> choose your number: must be "pi", "e" or "sqrt2"</li>
    <li><b>index:</b> select a specific digit of your number</li>
    <li><b>amount:</b> select the number of digits you want</li>
</ul><br>
<h4>Using these parameters in various combinations will result in different responses. Here are some examples:</h4>
<ul>
    <li>Basic Auth currently only works in combination with "number", i.e. "/api?number=pi". Progress will be saved for the given user.</li>
    <li>Without auth only providing <b>number</b> will show you the current progress of that number.</li>
    <li><b>Index</b> shows you the digit of the the chosen <b>number</b>. <b>Amount</b> will show the given number from that index. No index given means from start.</li>
    <li>"/api?number=pi&amount=3" -> <b>3.141</b></li>
    <li>"/api?number=e&index=2&amount=4" -> 2.7 <b>1828</b></li>
</ul><br>
<h4>With POST and DELETE requests you can do even more:</h4>
<ul>
    <li>Create a new user with a <b>POST</b> request: Do not user url-parameters, instead user <b>JSON</b> to send a "username" and a "password".</li>
    <li><b>DELETE</b> a user by sending that users <b>auth</b> and use <b>JSON</b> to send "confirm_deletion" set as true.</li>
    <li>Set a users index to a certain value by <b>POST</b>ing with <b>number</b> and <b>index</b> parameters.</li>
    <li>Alternatively, you can use <b>DELETE</b> and <b>number</b> to reset a number to 0. With <b>auth</b>, for that user, without you reset the global progress.</li>
</ul>
</body>