{% extends 'base.jinja' %}

{% block title %}PiThon api{% endblock %}

{% block content %}
<p style="margin-top: 0px;margin-bottom: 0px;" class="error-message">{{message}}</p>
<h1 style="margin-top: 0px;">PiThon api guide</h1>
<h4>You can use this api with url-parameters. For user related methods use /api/user while you are logged in or with Basic Auth. The url parameters are:</h4>
<ul>
    <li><b>number:</b> choose your number: must be "pi", "e" or "sqrt2"</li>
    <li><b>index:</b> select a specific digit of your number</li>
    <li><b>amount:</b> select the number of digits you want</li>
</ul><br>
<h4><b>GET</b> request <b>without</b> user:</h4>
<ul>
    <li>You always have to provide <b>?number</b>, like "/api?number=pi". This url will show all progress of that number.</li>
    <li>Adding <b>&index</b> and/or <b>&amount</b> will show specific parts of the number.</li>
    <li>Not providing an <b>&index</b> will get you on the global progress, saved in a txt file.</li>
    <li>This txt file can be downloaded on <b>/api/download?number=</b></li>
</ul><br>
<h4><b>GET</b> request <b>with</b> user:</h4>
<ul>
    <li>When a user is given, you can use this request to progress on your own profile.</li>
    <li>You have to provide the <b>?number</b> name and can add an <b>&amount</b>, but thats it. No indexing possible.</li>
    <li>Only give the parameter <b>?number</b> to get all current progress.</li>
</ul>
<h4><b>POST</b> request <b>without</b> user:</h4>
<ul>
    <li>You can create a new user with a <b>POST</b> request: Do <b>not</b> user url-parameters, instead use <b>JSON</b> to send a "username" and a "password".</li>
</ul>
<h4><b>POST</b> request <b>with</b> user:</h4>
<ul>
    <li><b>Reset</b> your progress or set it to a specific value using all 3 url-parameters.</li>
</ul>
<h4><b>DELETE</b> request <b>without</b> user:</h4>
<ul>
    <li><b>Reset</b> the global progress. Only use <b>?number</b>.</li>
</ul>
<h4><b>DELETE</b> request <b>with</b> user:</h4>
<ul>
    <li><b>Delete</b> your account. To avoid accedental account deletions, you have to provide JSON data along with it: <b>"confirm_deletion" = true</b>.</li>
</ul>

{% endblock %}