<!DOCTYPE html>
<html lang="en" class="{{ 'dark-mode' if session.get('theme') == 'dark' }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - PiThon</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" type="image" href="../static/images/favicon.ico">
</head>
<body {% if session["theme"] == "dark" %} class="dark-mode" {% endif %}>

<input type="button" id="btn_profile"  onclick="profile()"
    {% if session["username"] == null %} value="Login"
    {% else %} value="{{session['username']}}" {% endif %}>
<input type="button" id="toggleDM" value="Toggle darkmode" onclick="toggleDarkMode()">
{% if session["username"] == "joerg" %}
    <input type="button" id="adminPanel" value="Admin Panel" onclick="adminPanel()">
{% endif %}
<script>
    btn_dm = document.getElementById("toggleDM");
    navbar = document.getElementById("flexboxContainer");

    function toggleDarkMode() {
        window.location.href = "../toggle_theme?current_page=" + window.location.pathname;
    }

    function register() {
        window.location.href = "../register?current_page=" + window.location.pathname;
    }

    function login() {
        window.location.href = "../login?current_page=" + window.location.pathname;
    }

    function logout() {
        window.location.href = "../logout?current_page=" + window.location.pathname;
    }

    function profile() {
        window.location.href = "../profile";
    }

    function delete_user() {
        window.location.href = "../delete";
    }

    function adminPanel() {
        window.location.href = "../admin";
    }
</script>

<h1>PiThon</h1>
<p style="text-align: center">A simple web application for displaying digits of irrational numbers</p>

<div class="flex-container" id="flexContainer">
    <div><a href="/">Homepage</a></div>
    <div><a href="digits_form">Digits Form</a></div>
    <div><a href="digits_ajax">Digits AJAX</a></div>
    <div><a href="tic_tac_toe">Tic Tac Toe</a></div>
</div><br>

{% block content %} {% endblock %}

<footer>
    <p>Authors: Joerg Schmid, Felix Scholl</p>
    <h6><a href="https://github.com/FelixFifi/PiThon">
        <i class="fa fa-external-link"></i>Check out the source code here</a></h6>
</footer>

</body>
</html>