{% extends 'base.jinja' %}

{% block title %}AJAX digits{% endblock %}

{% block content %}

<h2>AJAX digits</h2>

<label for="number_selection">Select your number: </label>
<select name="number_selection" id="number_selection">
  <option value="pi" selected>Pi</option>
  <option value="e">e</option>
  <option value="sqrt2">Sqrt2</option>
</select><br><br>

<input type="button" id="submit" name="submit" value="Submit" onclick="onSubmitButtonClick()">
<input type="button" id="showAll" name="showAll" value="Show all progress" onclick="onShowAllButtonClick()">
<input type="button" id="clear" name="clear" value="Clear" onclick="output.innerHTML = ''">
<input type="button" id="reset" name="reset" value="Reset" onclick="onResetButtonClick()">
<input type="checkbox" name="append" id="append" value="append">
<label for="append">Append</label>

<label for="output"></label><br><br>
<output id="output" name="output" style="font-size: larger"></output>

<script>
  const output = document.getElementById("output");
  const numberName = document.getElementById("number_selection");
  const append = document.getElementById("append");

  function onSubmitButtonClick() {
    if (append.checked)
      output.innerHTML += httpGet(window.location.origin + "/" + numberName.value);
    else
      output.innerHTML = httpGet(window.location.origin + "/" + numberName.value);
  }

  function onResetButtonClick() {
    httpGet(window.location.origin + "/" + numberName.value + "/reset");
    output.innerHTML = "";
  }

  function onShowAllButtonClick() {
    output.innerHTML = httpGet(window.location.origin + "/get_all/" + numberName.value);
  }

  function httpGet(url) {
    let r = new XMLHttpRequest();
    r.open("GET", url, false);
    r.send(null);
    return r.responseText;
  }
</script>

{% endblock %}