{% extends 'base.jinja' %}

{% block title %}AJAX digits{% endblock %}

{% block content %}

<div class="ctr">
  <h2>AJAX digits</h2>

  <label for="number_selection">Select your number: </label>
  <select name="number_selection" id="number_selection" onchange="output.innerHTML=''">
    <option value="pi" selected>Pi</option>
    <option value="e">e</option>
    <option value="sqrt2">Sqrt2</option>
  </select><br><br>

<!-- One digit -->
  <input type="button" id="oneDigit" name="oneDigit" value="One digit at" onclick="onOneDigitButtonClick()">
  <input type="number" id="indexInput" name="indexInput" value="0" style="width: 100px;">
  <output id="indexOutput" name="indexOutput" style="font-size: larger;"></output><br>
  <input type="button" id="submit" name="submit" value="Submit" onclick="onSubmitButtonClick()">
  <input type="button" id="showAll" name="showAll" value="Show all progress" onclick="onShowAllButtonClick()">
  <input type="button" id="clear" name="clear" value="Clear" onclick="output.innerHTML = ''">
  <input type="button" id="reset" name="reset" value="Reset" onclick="onResetButtonClick()">
  <input type="checkbox" name="append" id="append" value="append">
  <label for="append">Append</label>

  <label for="output"></label><br><br>
  <output id="output" name="output" style="font-size: larger"></output>

  <script>
    const output = document.getElementById("output");
    const numberName = document.getElementById("number_selection");
    const append = document.getElementById("append");

    function onSubmitButtonClick() {
      if (append.checked)
        output.innerHTML += httpReq(window.location.origin + "/" + numberName.value {% if session['username'] != null %} + "/{{session['username']}}" {% endif %});
      else
        output.innerHTML = httpReq(window.location.origin + "/" + numberName.value {% if session['username'] != null %} + "/{{session['username']}}" {% endif %});
    }

    function onResetButtonClick() {
      {% if session['username'] == null %}
        httpReq(window.location.origin + "/" + numberName.value + "/reset");
      {% else %}
        httpReq(window.location.origin + "/" + numberName.value + "/" + "{{session['username']}}", method="DELETE")
      {% endif %}
      output.innerHTML = "";
    }

    function onShowAllButtonClick() {
      output.innerHTML = httpReq(window.location.origin + "/get_all/" + numberName.value);
    }

    function httpReq(url, method="GET") {
      let r = new XMLHttpRequest();
      r.open(method, url, false);
      r.send(null);
      return r.responseText;
    }
  </script>
  </div>

{% endblock %}