{% extends 'base.jinja' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="ctr">
    {% if session["username"] == null %}
    <input type="button" id="btn_login" value="Login" onclick="login()">
    {% else %}
    <p>Logged in as {{session["username"]}}</p>
    <input type="button" id="btn_logout" value="Logout" onclick="logout()">
    <input type="button" id="btn_delete" value="Delete account" onclick="delete_user()">
    {% endif %}
</div>


{% endblock %}
